=breadcrumb_tag do
  %li.active
    = "Зал #{@hall.short_name}"
  %li
    = link_to t('headers.halls.index'), halls_path
  %li
    Модели

.page-header
  %h1= @hall.short_name

%dl
  %dt= Hall.human_attribute_name(:short_name)
  %dd= @hall.short_name
  %dt= Hall.human_attribute_name(:full_name)
  %dd= @hall.full_name
  %dt= Hall.human_attribute_name(:shelves)
  %dd= @hall.shelves.pluck(:shelf_index).join(', ')


= link_to edit_hall_path(@hall), class: 'btn btn-info' do
  = fa_icon :edit
