= form_for @shelf do |f|
  = error_messages_for @shelf

  = f.submit nil, class: 'btn btn-primary'
  = link_to @shelf,
  :method => :delete,
  :data => { :confirm => t('buttons.confirm.shelf') },
  class: 'btn btn-danger' do
    = fa_icon :ban
    = t('buttons.destroy')

  %div.form-wrapper
    %div.form-header
      = t('forms.shelf.shelf')
    %div.form-body
      .row
        .col-md-12
          = f.label :shelf_index
          = f.text_field :shelf_index, class: 'form-control'

  %div.form-wrapper#wrapper_for_hall
    %div.form-header
      %div
        = t('forms.shelf.hall')
    %div.form-body
      #hall.assotiations
        .mb5
          .links
            - if params[:action] == 'edit'
              - if !f.object.new_record?
                = link_to @shelf.hall,
                :method => :delete,
                :data => { :confirm => t('buttons.confirm.hall') },
                class: 'btn btn-danger' do
                  = fa_icon :ban
                  = t('buttons.destroy')
          = f.label :hall_id
          = f.collection_select :hall_id, Hall.all, :id, :short_name,
          {include_blank: true}, {id: 'select_existing_hall', class: 'form-control'}
        = f.fields_for :hall, f.object.hall || f.object.build_hall do |hall|
          = render 'hall_fields', f: hall

  %div.form-wrapper
    %div.form-header
      = t('forms.book.locations')
    %div.form-body
      %table.table.table-hover.table-striped
        %thead
          %th
            = link_to_add_association (fa_icon :plus), f, :locations,
            class: 'btn btn-success',
            data:{ association_insertion_node: '#locations',
            association_insertion_method: :prepend  }
          %th= t('activerecord.attributes.location.rack_number')
          %th= t('activerecord.attributes.location.book_id')
        %tbody#locations
          = f.fields_for :locations do |location|
            = render 'location_fields', f: location
