=breadcrumb_tag do
  %li.active
    = t('headers.models')
  %li
    = t('headers.shelves.index')

.page-header
  %h1= t('headers.shelves.index')

= link_to t('buttons.new.shelf'), new_shelf_path, class: 'btn btn-primary'

- @shelves.each do |shelf|
  = render 'shelf', shelf: shelf
