= form_for @author do |f|
  = error_messages_for @author

  .row
    .col-md-8
      .form-group
        = f.label :fn
        = f.text_field :fn, class: 'form-control'
    .col-md-8
      .form-group
        = f.label :ln
        = f.text_field :ln, class: 'form-control'
    .col-md-8
      .form-group
        = f.label :sn
        = f.text_field :sn, class: 'form-control'
    .col-md-8
      .form-group
        = f.label :author_index
        = f.text_field :author_index, class: 'form-control'
  .actions
    = f.submit nil, class: 'btn btn-primary'
