%tr.nested-fields{ class: "existing-author#{f.object.id}" }
  %td
    = link_to_remove_association (fa_icon :remove), f, class: 'btn btn-warning'
  - if params.has_key?(:id)
    %td
      - if !f.object.new_record?
        = link_to (fa_icon :ban), f.object, method: :delete, class: 'destroy-author btn btn-danger',
        id: "destroy-author#{f.object.id}",
        :data => { :confirm => t('buttons.confirm.author') },
        remote: true
  %td.author-fn
    = f.text_field :fn, class: 'form-control'
  %td.author-ln
    = f.text_field :ln, class: 'form-control'
  %td.author-sn
    = f.text_field :sn, class: 'form-control'
  %td.author-author-index
    = f.text_field :author_index, class: 'form-control'
  %td.author-id
    = f.hidden_field :id
