%tr.nested-fields
  %td
    = link_to_remove_association (fa_icon :remove), f, class: 'btn btn-danger'
  %td
    = f.text_field :fn, class: 'form-control'
  %td
    = f.text_field :ln, class: 'form-control'
  %td
    = f.text_field :sn, class: 'form-control'
  %td
    = f.text_field :author_index, class: 'form-control'
