= form_for @book do |f|
  = error_messages_for @book

  = f.submit nil, class: 'btn btn-primary'
  - if params[:action] == 'edit'
    = link_to @book,
    :method => :delete,
    :data => { :confirm => t('buttons.confirm.book') },
    class: 'btn btn-danger' do
      = fa_icon :ban
      = t('buttons.destroy')

  %div.form-wrapper
    %div.form-header
      = t('forms.book.book')
    %div.form-body
      .row
        .col-md-5
          = f.label :name
          = f.text_field :name, class: 'form-control'
        .col-md-2
          = f.label :volume
          = f.number_field :volume, class: 'form-control'
        .col-md-3
          = f.label :isbn
          = f.text_field :isbn, class: 'form-control'
        .col-md-2
          = f.label :quantity
          = f.number_field :quantity, class: 'form-control'
          = f.hidden_field :id

  %div.form-wrapper#wrapper_for_authors
    %div.form-header
      %div
        = t('forms.book.authors')
    %div.form-body
      %div.add-form
        = link_to_add_association t('buttons.book.add_author'), f, :author_books,
        class: 'btn btn-success',
        data:{ association_insertion_node: '#authors',
        association_insertion_method: :prepend  }
      #authors.assotiations
        = f.fields_for :author_books do |author_book|
          = render 'author_book_fields', f: author_book

  %div.form-wrapper
    %div.form-header
      = t('forms.book.locations')
    %div.form-body
      %table.table.table-hover.table-striped
        %thead
          %th
            = link_to_add_association (fa_icon :plus), f, :locations,
            class: 'btn btn-success',
            data:{ association_insertion_node: '#locations',
            association_insertion_method: :prepend  }
            -# :wrap_object => Proc.new { |location| location.build_book; location  }
            -# :wrap_object => Proc.new { |location| @book.locations.build }
          %th= t('activerecord.attributes.location.book_id')
          %th= t('activerecord.attributes.location.shelf_id')
          %th= t('activerecord.attributes.location.rack_number')
        %tbody#locations
          = f.fields_for :locations do |location|
            -# = location.hidden_field :book_id
            = render 'location_fields', f: location
