= form_for @book do |f|
  = error_messages_for @book

  .row
    .col-md-8
      .form-group
        = f.label :name
        = f.text_field :name, class: 'form-control'
    .col-md-8
      .form-group
      = f.label :volume
      = f.number_field :volume, class: 'form-control'
    .col-md-8
      .form-group
        = f.label :isbn
        = f.text_field :isbn, class: 'form-control'
    .col-md-8
      .form-group
        = f.label :quantity
        = f.number_field :quantity, class: 'form-control'
    .col-md-8
      .form-group
        = f.label :author
        = f.collection_select(:author_ids, Author.all, :id, :name_with_initial, {promt: 'Сделайте выбор', include_blank: true}, {multiple: true})
        -# = f.collection_select(:book, :author_ids, Author.all, :id, :name_with_initial)
        -# = f.select :author_ids, options_for_select(Author.all.map { |a| [a.name_with_initial, a.id]}), {promt: 'asdfasdf', include_blank: true}, { multiple: true }
  .actions
    = f.submit nil, class: 'btn btn-primary'
