

= form_for @book do |f|
  = error_messages_for @book

  .pull-right
  = f.submit nil, class: 'btn btn-primary'
  
  %div.form-wrapper
    %div.form-header
      = t('forms.book.book')
    %div.form-body
      -# .row
      .col-md-5
        .form-group
          = f.label :name
          = f.text_field :name, class: 'form-control'
      .col-md-2
        .form-group
          = f.label :volume
          = f.number_field :volume, class: 'form-control'
      .col-md-3
        .form-group
          = f.label :isbn
          = f.text_field :isbn, class: 'form-control'
      .col-md-2
        .form-group
          = f.label :quantity
          = f.number_field :quantity, class: 'form-control'
        -# .col-md-8
          -# .form-group
            -# = f.label :authors
            -# = f.collection_select(:author_ids, Author.all, :id, :name_with_initial, {promt: 'Сделайте выбор', include_blank: true}, {multiple: true})

  %div.form-wrapper#wrapper_for_authors
    %div.form-header
      %div
        = t('forms.book.authors')
    %div.form-body
      %div.add-form
        -# %div
        = link_to_add_association t('buttons.book.add_author'), f, :authors,
        class: 'btn btn-success',
        data:{ association_insertion_node: '#authors',
        association_insertion_method: :prepend  }
        -# = link_to_add_association (fa_icon :plus), f, :authors,
        -# class: 'btn btn-success',
        -# data:{ association_insertion_node: '#authors',
        -# association_insertion_method: :prepend  },
        -# :wrap_object => Proc.new { |author| author.books.build; author }
        -# %div
        = f.select :authors,
        options_for_select(Author.all.map { |a| ["#{a.name_with_initial}", a.id] }),
        {include_blank: true}, {}
      %table.table
        %thead
          %th
          %th= t('activerecord.attributes.author.fn')
          %th= t('activerecord.attributes.author.ln')
          %th= t('activerecord.attributes.author.sn')
          %th= t('activerecord.attributes.author.author_index')
        %tbody#authors
          = f.fields_for :authors do |author|
            = render 'author_fields', f: author

  %div.form-wrapper
    %div.form-header
      = t('forms.book.locations')
    %div.form-body
      %table.table.table-hover.table-striped
        %thead
          %th
            = link_to_add_association (fa_icon :plus), f, :locations,
            class: 'btn btn-success',
            data:{ association_insertion_node: '#locations',
            association_insertion_method: :prepend  },
            :wrap_object => Proc.new { |location| location.build_book; location  }
            -# :wrap_object => Proc.new { |location| @book.locations.build }
          %th= t('activerecord.attributes.location.shelf_id')
          %th= t('activerecord.attributes.location.rack_number')
        %tbody#locations
          = f.fields_for :locations do |location|
            = render 'location_fields', f: location
