=breadcrumb_tag do
  %li.active
    = t('headers.models')
  %li.active
    = link_to t('headers.books.index'), books_path
  %li.active
    = link_to t('headers.books.search'), search_books_path
  %li
    = t('headers.books.result')

.table-wrapper
  %table.table.table-hover.table-striped.center
    %thead
      %th= Book.human_attribute_name(:name)
      %th= Book.human_attribute_name(:isbn)
      %th= Book.human_attribute_name(:quantity)
      %th= Book.human_attribute_name(:volume)
    %tbody
      - @books.each do |book|
        %tr
          %td= book.name
          %td= book.isbn
          %td= book.quantity
          %td= book.volume
