=breadcrumb_tag do
  %li.active
    = t('headers.models')
  %li.active
    = link_to t('headers.books.index'), books_path
  %li
    = t('headers.books.search')

= form_tag search_books_path, method: 'get' do
  .actions
    = submit_tag t('buttons.search'), class: 'btn btn-primary'

  .form-wrapper
    .form-header
      = t('forms.book.book')
    .row.form-body
      .col-md-5
        = label_tag Book.human_attribute_name("name")
        = text_field_tag 'search[book][name]', nil, class: 'form-control'
      .col-md-2
        = label_tag Book.human_attribute_name("volume")
        = number_field_tag 'search[book][volume]', nil, class: 'form-control'
      .col-md-3
        = label_tag Book.human_attribute_name("isbn")
        = text_field_tag 'search[book][isbn]', nil, class: 'form-control'
      .col-md-2
        = label_tag Book.human_attribute_name("quantity")
        = number_field_tag 'search[book][quantity]', nil, class: 'form-control'

  .form-wrapper
    .form-header
      = t('forms.book.authors')
    .row.form-body
      .col-md-3
        = label_tag Author.human_attribute_name('fn')
        = text_field_tag 'search[author][fn]', nil, class: 'form-control'
      .col-md-3
        = label_tag Author.human_attribute_name('ln')
        = text_field_tag 'search[author][ln]', nil, class: 'form-control'
      .col-md-3
        = label_tag Author.human_attribute_name('sn')
        = text_field_tag 'search[author][sn]', nil, class: 'form-control'
      .col-md-3
        = label_tag Author.human_attribute_name('author_index')
        = text_field_tag 'search[author][author_index]', nil, class: 'form-control'

  .form-wrapper
    .form-header
      = t('forms.shelf.shelf')
    .row.form-body
      .col-md-6
        = label_tag Location.human_attribute_name('rack_number')
        = number_field_tag 'search[location][rack_number]', nil, class: 'form-control'
      .col-md-6
        = label_tag Shelf.human_attribute_name('shelf_index')
        = text_field_tag 'search[shelf][shelf_index]', nil, class: 'form-control'

  .form-wrapper
    .form-header
      = t('forms.shelf.hall')
    .row.form-body
      .col-md-6
        = label_tag Hall.human_attribute_name('short_name')
        = text_field_tag 'search[hall][short_name]', nil, class: 'form-control'
      .col-md-6
        = label_tag Hall.human_attribute_name('full_name')
        = text_area_tag 'search[hall][full_name]', nil, class: 'form-control'
