=breadcrumb_tag do
  %li.active
    = "#{@book.name}"
  %li
    = link_to t('headers.books.index'), books_path
  %li
    Модели

.page-header
  %h1= @book.name

%div.attributes
  %h3= t('forms.book.book')
  %table.table.table-hover.table-striped.center
    %tr
      %th= Book.human_attribute_name(:name)
      %th= Book.human_attribute_name(:volume)
      %th= Book.human_attribute_name(:isbn)
      %th= Book.human_attribute_name(:quantity)
    %tr
      %td= @book.name
      %td= @book.volume
      %td= @book.isbn
      %td= @book.quantity

%div.attributes
  %h3= Book.human_attribute_name(:authors)
  %table.table.table-hover.table-striped.center
    %tr
      %th= Author.human_attribute_name(:fn)
      %th= Author.human_attribute_name(:ln)
      %th= Author.human_attribute_name(:sn)
      %th= Author.human_attribute_name(:author_index)
    - @book.authors.each do |author|
      %tr
        %td
          = author.fn
        %td
          = author.ln
        %td
          = author.sn
        %td
          = author.author_index
%div.attributes
  %h3= Book.human_attribute_name(:locations)
  %table.table.table-hover.table-striped.center
    %tr
      %th= Location.human_attribute_name(:shelf_id)
      %th= Location.human_attribute_name(:rack_number)
    - @book.locations.each do |location|
      %tr
        %td
          = location.shelf.shelf_index
        %td
          = location.rack_number

.pull-right
  = link_to edit_book_path(@book), class: 'btn btn-info' do
    = fa_icon (:edit)
    = t('buttons.edit')
